<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tangya.xueji">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/xj"
        android:label="学迹"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".me.settingActivity">
           <intent-filter>
                <action android:name="android.intent.action.SZ" />

                <category android:name="android.intent.category.DEFAULT" />
           </intent-filter>
        </activity>
        <activity android:name=".me.bijiActivity">
            <intent-filter>
                <action android:name="android.intent.action.BJ" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".me.shoucActivity">
            <intent-filter>
                <action android:name="android.intent.action.SC" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".me.siginActivity" />
        <activity android:name=".me.loginActivity">
            <intent-filter>
                <action android:name="android.intent.action.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".read.read_Activity">
            <intent-filter>
                <action android:name="android.intent.action.ST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.STAR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Wel" >
            <intent-filter>
                <action android:name="android.intent.action.WEL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>


        </activity>
        <activity android:name=".wel_bool">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>